[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-marshmallow = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
flask-heroku = "*"

[requires]
python_version = "3.8"
